[2019-07-26 11:06] gwemon opened #1 "test [BODCNVS-191]"

[2019-07-26 11:47] gwemon commented on #1
test link to Jira BODCNVS-191

[2019-08-23 12:39] #1 closed

[2019-08-23 15:02] gwemon opened #2 "NTR: Wind-chill equivalent temperature"
## Required
### Term name (PrefLabel)
Wind-chill equivalent temperature
### Definition
Apparent temperature ("feels-like temperature") which would result in the same cooling effect as would be calculated from combined effect of air temperature (as per dry bulb air temperature) and wind speed.
### Sources/references
Source dataset specifies: "The wind chill equivalent temperature (also called the w

[2020-02-26 11:57] gwemon opened #3 "NTR: Request for S06 Horizontal visibility"
<H2> Required </H2><b>Term name (PrefLabel)</b><p>Horizontal visibility <p><b>Definition</b><p> Maximum distance at which an observer can see and identify an object lying close to the horizontal plane on which he or she is standing. (source: AMS glossary, 20200219)<p><H2> Optional </H2><p><b>Sources/references</b><p> http://glossary.ametsoc.org/wiki/Horizontal_visibility<p> <b>ORCID</b><p> 0000-00

[2020-05-04 12:23] gwemon opened #4 "NTR: Request for S06 Radius"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Radius <p><b>Definition</b><p> The distance between the centre of a sphere or a circle and any points on its perimeter. <p><H2> Optional </H2><p>

[2020-05-11 15:28] gwemon commented on #3
Term added: http://vocab.nerc.ac.uk/collection/S06/current/S0600244/

Also added term for Horizontal visibility (WMO code):  http://vocab.nerc.ac.uk/collection/S06/current/S0600246/

[2020-05-11 15:28] #3 closed

[2020-05-11 15:49] gwemon commented on #2
This term has been added to S06 and will be published on the NVS around 0100 UTC with the following URI: http://vocab.nerc.ac.uk/collection/S06/current/S0600252/

[2020-05-11 15:50] gwemon commented on #4
This term has been added to S06 and will be published on the NVS around 0100 UTC with the following URI: http://vocab.nerc.ac.uk/collection/S06/current/S0600251/

[2020-05-12 12:10] gwemon opened #5 "NTR: Request for S06 Preserved wet weight"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Preserved wet weight <p><b>Definition</b><p>  The weight of a biological sample following preservation in formaldehyde or ethanol for example. <p><H2> Optional </H2><p><b>Sources/references</b><p> Durden, J.M., Bett, B.J., Horton, T., Serpell-Stevens, A., Morris, K.J., Billett, D.S.M., Ruhl, H.A. (2016). Improving the estimation of deep-sea mega

[2020-05-12 14:26] gwemon commented on #4
Published

[2020-05-12 14:26] #4 closed

[2020-05-12 14:27] gwemon commented on #2
Published.

[2020-05-12 14:27] #2 closed

[2020-05-12 14:34] gwemon commented on #5
The term has been added to S06 and will be published at 01:00UTC with URI: http://vocab.nerc.ac.uk/collection/S06/current/S0600253/

[2020-05-14 07:45] gwemon commented on #5
http://vocab.nerc.ac.uk/collection/S06/current/S0600253/ published

[2020-05-14 07:45] #5 closed

[2020-05-15 14:54] gwemon opened #6 "NTR: Request for S06 Surface elevation"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Surface elevation <p><b>Definition</b><p> The height above or below a fixed reference point.<p><H2> Optional </H2><p>

[2020-05-15 15:13] roy-lowry commented on #6
I would prefer 'The vertical distance of the surface above or below a fixed reference point'. The word height carries the inference of distance above so 'height below' seems a little contradictory.

[2020-05-15 15:20] roy-lowry commented on #6
Just realised height implicitly specifies sign convention for the elevation. So how about 'The vertical distance of the surface above (positive values) or below (negative values) a fixed reference point' to keep things explicit in the definition.

[2020-06-17 19:01] nvsvocabs opened #7 "NTR: Request for S06 Amplitude"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Amplitude <p><b>Definition</b><p> The maximum displacement of a periodic variable over a single spatial or temporal period.<p><H2> Optional </H2><p>

[2020-06-18 07:13] gwemon commented on #7
New term added: http://vocab.nerc.ac.uk/collection/S06/current/S0600254/

[2020-06-18 07:13] #7 closed

[2020-06-22 13:38] nvsvocabs opened #8 "NTR: Request for S06 Richter Scale magnitude"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Richter Scale magnitude <p><b>Definition</b><p> The logarithm of the amplitude of seismic waves released during a rupture of Earth's crust (earthquake), recorded by seismographs. Also known as the local magnitude scale (ML), it was developed in 1935 by Charles F. Richter. <p><H2> Optional </H2><p><b>Sources/references</b><p> https://www.usgs.gov

[2020-06-22 13:40] nvsvocabs opened #9 "NTR: Request for S06 Two-way travel time"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Two-way travel time <p><b>Definition</b><p> The time taken for an acoustic signal to travel from its source to a reflecting or refracting surface and back to a receiver (TWT). <p><H2> Optional </H2><p><b>Sources/references</b><p> https://www.geoexpro.com/articles/2018/05/a-simple-guide-to-seismic-depth-conversion-i https://www.glossary.oilfield.

[2020-06-22 13:41] nvsvocabs opened #10 "NTR: Request for S06 One-way travel time"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>One-way travel time <p><b>Definition</b><p> The time taken for an acoustic  signal to travel from its source to a reflecting or refracting surface.<p><H2> Optional </H2><p><b>Sources/references</b><p> https://www.geoexpro.com/articles/2018/05/a-simple-guide-to-seismic-depth-conversion-i https://www.glossary.oilfield.slb.com/en/Terms/t/two-way_tr

[2020-08-13 10:21] gwemon commented on #8
@danibodc - I would change "Richter scale magnitude" to "Richter magnitude scale" as this is the way it seems to be referred to in the literature.

[2020-10-11 21:19] nvsvocabs opened #11 "NTR: Request for S06 Location (geographic coordinates)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Location (geographic coordinates) <p><b>Definition</b><p> A location relative to the surface of the Earth, or other planetary or stellar body, represented by a point, line, arc, or any other type of polygon and defined by encoding the coordinates of the location in a known Coordinate Reference System. Where possible the Coordinate Reference Syst

[2020-10-21 08:17] gwemon commented on #11
Term published http://vocab.nerc.ac.uk/collection/S06/current/S0600255/

[2020-10-21 08:17] #11 closed

[2020-10-21 08:19] gwemon commented on #10
@danibodc term published http://vocab.nerc.ac.uk/collection/S06/current/S0600256/

[2020-10-21 08:19] #10 closed

[2020-10-21 08:20] gwemon commented on #9
@danibodc term published http://vocab.nerc.ac.uk/collection/S06/current/S0600257/

[2020-10-21 08:20] #9 closed

[2020-10-21 08:20] gwemon commented on #8
@danibodc Term published http://vocab.nerc.ac.uk/collection/S06/current/S0600258/

[2020-10-21 08:20] #8 closed

[2020-10-21 08:21] gwemon commented on #6
Term published http://vocab.nerc.ac.uk/collection/S06/current/S0600259/

[2020-10-21 08:21] #6 closed

[2020-11-03 17:22] nvsvocabs opened #12 "NTR: Request for S06 Equivalent Spherical Diameter"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Equivalent spherical diameter <p><b>Definition</b><p> The diameter of a spherical particle which will give identical geometric, optical, electrical or aerodynamic behaviour to that of the particle (non-spherical) being examined; sometimes referred to as the Stokes diameter for particles in non-turbulent flows (Source: IUPAC, 1990. Glossary of at

[2020-11-03 17:25] gwemon commented on #12
Linked to https://github.com/nvs-vocabs/P01/issues/37

[2020-11-04 11:37] danibodc commented on #12
A new S06 term has now been created:

S0600260 - Equivalent spherical diameter

Description: The diameter of a spherical particle of equivalent volume which will give identical geometric, optical, electrical or aerodynamic behaviour to that of the particle (non-spherical) being examined, sometimes referred to as the Stokes diameter for particles in non-turbulent flows (Source: IUPAC (1990), https:

[2020-11-05 11:42] danibodc commented on #12
This is now live on the NVS:
http://vocab.nerc.ac.uk/collection/S06/current/S0600260/

[2020-11-05 11:42] #12 closed

[2020-11-11 21:54] nvsvocabs opened #13 "NTR: Request for S06 Length (total length)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Length (total length) <p><b>Definition</b><p> test example<p><H2> Optional </H2><p>

[2020-11-12 17:42] timvdstap opened #14 "NTR: Request for S06 Fish Length parameters (BODCNVS-737)"
Hi there,

I was hoping to request a few new terms relevant to measuring fish lengths for the S06 repository:

**Fork length**  Length measured from the tip of the snout in a straight line to the posterior end of the shortest caudal rays in the center of the fork. Length is measured in millimeters.
**Total length** Length measured from the tip of the snout in a straight line to the posterior end o

[2020-11-19 07:17] gwemon commented on #14
Thank you for your  request @timvdstap
S06 defines terms related to characteristics as quantities measured or qualities/traits recorded. These terms are then combined with other terms like e.g. term defining the target object, to form a P01 parameter code that describes the measurement as unambiguously as possible. P01 is then linked to the unit of measurement (from our P06 vocab). So I will modif

[2020-11-20 21:24] timvdstap commented on #14
Hi @gwemon

My apologies for the late reply - this all looks great and very promising, thank you for looking into it! I agree with your proposed terms. I will link to this to Melissa as well to ensure that she agrees with the proposed changes.

[2020-11-23 16:45] mknottingham commented on #14
@gwemon @timvdstap
Thank-you both. These definitions are just what I need right now for the dataset I am working on.  I agree with the changes. Thanks again!

[2020-11-26 15:09] danibodc commented on #14
We have now created the 3 new S06 terms with definitions as stated above:

-S0600261	Length (fork length)
-S0600262	Length (total length)
-S0600263	Length (second dorsal length)

They will become live after the database refresh at 0200UTC. We will look to create the associated P01 terms described above next week.

[2020-12-10 15:43] danibodc commented on #14
We have created the following P01 terms:

TL01XX01	Length (total length) of biological entity specified elsewhere
SDL1XX01	Length (second dorsal length) of biological entity specified elsewhere
FL01XX01	Length (fork length) of biological entity specified elsewhere

We are investigating an issue that is preventing new codes going live - I will update this ticket once this is resolved.

[2020-12-11 09:58] danibodc commented on #14
These codes are now live:

http://vocab.nerc.ac.uk/collection/P01/current/TL01XX01/
http://vocab.nerc.ac.uk/collection/P01/current/SDL1XX01/
http://vocab.nerc.ac.uk/collection/P01/current/FL01XX01/

[2020-12-11 09:58] #14 closed, assigned to gwemon, danibodc

[2020-12-18 18:47] nvsvocabs opened #15 "NTR: Request for S06 1. Shell length"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>1. Shell length  <p><b>Definition</b><p> 1. The  longest dimension of the shell <p><H2> Optional </H2><p>

[2020-12-18 18:48] nvsvocabs opened #16 "NTR: Request for S06 shell weight"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>shell weight <p><b>Definition</b><p> weight of dried empty shell<p><H2> Optional </H2><p>

[2020-12-18 20:02] roy-lowry commented on #15
I think this should be handled differently. See terms like BLENOX26 defined as 'The mean value of the longest dimension of the shell or body of the specified organism in the sample. This could refer to a single individual should the sample size be one.' If the taxon isn't defined then a 'biological entity specified elsewhere' structure is needed.

[2020-12-18 20:04] roy-lowry commented on #15
If there is an issue where the animal length is different from the shell length then an S25 entry for the animal 'subcomponent shell' is needed.

[2020-12-18 20:08] roy-lowry commented on #16
Neeeds to be handled through S25 using the form 'Weight of Mytilis edulis [subcomponent shell]' rather thn an S06 'shell weight'.

[2020-12-21 22:52] nvsvocabs opened #17 "NTR: Request for S06 Radial velocity (away from)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Radial velocity (away from) <p><b>Definition</b><p> The rate at which matter or an object moves away from a reference point along a line connecting the reference point to the moving object or particle of matter. In radar technology it is the component of the target''s motion that is along the radar beam.<p><H2> Optional </H2><p><b>Sources/refere

[2020-12-22 10:47] gwemon commented on #17
New term added to S06: http://vocab.nerc.ac.uk/collection/S06/current/S0600265/

[2020-12-22 10:47] #17 closed, assigned to nobody

[2021-01-15 16:32] gwemon commented on #15
Thanks @roy-lowry I guess that this request came from a OBIS user where the biological entity is not stored in the P01 code but held elsewhere in the schema.

We have 3 options:

1. create a variant of the S25 code for biological entity specified elsewhere (http://vocab.nerc.ac.uk/collection/S25/current/BE007117/) but with component='shell' (http://vocab.nerc.ac.uk/collection/S12/current/S1239/)
2

[2021-01-15 20:04] mknottingham commented on #15
I am an OBIS user looking into this issue. We can use the length of biological entity specified elsewhere, but wanted to be clear the length referred to the shell, not including the soft tissue that may extend outside of the shell.

[2021-01-15 20:07] mknottingham commented on #16
Should we request new vocab that is specific to each of the species from which we are taking shell weight measurements? Currently we are working with Panopea generosa

[2021-01-18 12:20] roy-lowry commented on #16
Apologies for the misleading example. What I should have put is 'Weight of biological entity specified elsewhere [subcomponent shell]'. It would be a little crazy to use 'biological entity specified elsewhere' for some metrics and named entities for others.

[2021-01-21 11:59] gwemon commented on #15
Link to https://github.com/nvs-vocabs/S06/issues/16

[2021-01-21 12:32] gwemon commented on #15
@mknottingham our proposal is to create new S25 biological entities concepts for measurements that target a specific well defined body part or "subcomponent" of an organism. This enables us to remain consistent with the logic established in the P01 semantic model and avoid overcomplicating the concepts held in S06. These body parts or "sub-components" are defined in the NVS collection [S12](https:

[2021-01-22 23:37] timvdstap commented on #15
Hi @gwemon ,

I like the proposed idea! Would I perhaps be able to tag along two new proposed terms to the NVS collection S12? These two body parts would be:  **mantle** and **bell**. Mantle length is often the length measured for Cephalopoda/Teuthida spp., whereas bell diameter is used when measuring jellyfish. Am I correct in thinking a similar classification or approach as with shell (length) c

[2021-01-23 14:00] nvsvocabs opened #18 "NTR: Request for S06 Duration"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Duration <p><b>Definition</b><p> The length of time that something lasts.<p><H2> Optional </H2><p><b>Sources/references</b><p> e.g. http://vocab.nerc.ac.uk/collection/P01/current/AZDRZZ01/<p> <b>ORCID</b><p> 0000-0001-6559-4178<p> <b>Mapping to other terminologies </b><p> http://vocab.nerc.ac.uk/collection/P24/current/TIME/<p>

[2021-01-23 14:43] gwemon commented on #15
Thanks @timvdstap. Yes please, make a request for the new terms under S12 using this [form](https://docs.google.com/forms/d/e/1FAIpQLSe-ZTKJZmNT5FmyPRFsPsNt2hpB_gb6MAmm7Zp-7GSMpn5NFA/viewform?entry.1396013310=S12); please provide definition and/or references to other vocabs/terminologies if you can or if appropriate.
If the proposal above gets the go-ahead, we will then create P01 codes of the for

[2021-01-23 15:55] nvsvocabs opened #19 "NTR: Request for S06 Biomass as nitrogen (BODCNVS-1000)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Biomass as nitrogen <p><b>Definition</b><p> Mass of living biological organisms measured or expressed as the mass of organically bound nitrogen.<p><H2> Optional </H2><p><b>ORCID</b><p> gwemon (github ID)<p> <b>Mapping to other terminologies </b><p> http://vocab.nerc.ac.uk/collection/P24/current/NMASS/<p>

[2021-01-23 15:57] gwemon commented on #19
NTR needed to support creation of e.g. nvs-vocabs/P01#43

[2021-01-24 19:35] dr-shorthair commented on #18
https://www.w3.org/TR/owl-time/#duration

[2021-02-01 13:02] PatriciaCabrera opened #20 "NTR: Request for Width (in digital image)"
## Required
### Term name (PrefLabel)
Width (in digital image)
### Definition
The longest vertical dimension of an object captured in a digital image and normally expressed in number of pixels.
### Sources/references
This submission is related to the existing term: http://vocab.nerc.ac.uk/collection/S06/current/S0600149/

## Optional
### ORCID
https://orcid.org/0000-0003-3293-5612

[2021-02-01 13:02] PatriciaCabrera opened #35 "NTR: Request for Width (in digital image)"
## Required
### Term name (PrefLabel)
Width (in digital image) of biological entity specified elsewhere
### Definition
The width of the digital representation of an organism in a digital image measured in number of pixels.
### Sources/references
This submission is related to the existing term: Length (in digital image) of biological entity specified elsewhere, http://vocab.nerc.ac.uk/collection/S0

[2021-02-02 02:57] dr-shorthair commented on #19
@markebaird I think this is the one that [you suggest](https://github.com/nvs-vocabs/P01/issues/46#issuecomment-771291561) should be

[2021-02-02 08:39] PatriciaCabrera opened #21 "NTR: Request for Area (in digital image) (BODCNVS-1876)"
## Required
### Term name (PrefLabel)
Area (in digital image)
### Definition
The total surface area (length*length) of an object captured in a digital image and normally expressed in µm2 or mm2.
### Sources/references
http://thesauri.lifewatchitaly.eu/PhytoTraits/index.php?tema=16&/surface-area
Gorsky et. al. 2010, https://doi.org/10.1093/plankt/fbp124

## Optional
### Mapping to external terminol

[2021-02-02 08:44] PatriciaCabrera opened #22 "NTR: Request for Minor axis length (in digital image)"
## Required
### Term name (PrefLabel)
Minor axis length (in digital image)
### Definition
The length of the secondary axis of the best fitting ellipse of an object captured in a digital image and normally expressed in µm or mm.
### Sources/references
Gorsky et. al. 2010, https://doi.org/10.1093/plankt/fbp124

## Optional
### Mapping to external terminologies
http://vocab.nerc.ac.uk/collection/S06/

[2021-02-02 08:48] PatriciaCabrera opened #23 "NTR: Request for Mayor axis length (in digital image)"
## Required
### Term name (PrefLabel)
Mayor axis length (in digital image)
### Definition
The length of the primary axis of the best fitting ellipse of an object captured in a digital image and normally expressed in µm or mm.
### Sources/references
Gorsky et. al. 2010, https://doi.org/10.1093/plankt/fbp124

## Optional
### Mapping to external terminologies
http://vocab.nerc.ac.uk/collection/S06/cu

[2021-02-02 09:00] PatriciaCabrera opened #24 "NTR: Request for Pixel size (in digital image)"
## Required
Pixel size (in digital image)
[Please enter the label of the term you wish to request]
The size of one pixel captured in a digital image and normally expressed in µm or mm.
### Sources/references
Gorsky et. al. 2010, https://doi.org/10.1093/plankt/fbp124

## Optional
### Mapping to external terminologies
http://vocab.nerc.ac.uk/collection/P06/current/PIXY/
### ORCID
https://orcid.org/0

[2021-02-12 11:09] nvsvocabs opened #25 "NTR: Request for S06 Sensible heat flux (BODCNVS-339)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Sensible heat flux <p><b>Definition</b><p> The transfer of heat caused by the difference in temperature between the sea and the air.<p><H2> Optional </H2><p><b>Sources/references</b><p> https://www.sciencedirect.com/topics/earth-and-planetary-sciences/sensible-heat-flux<p> <b>ORCID</b><p> 49520162<p>

[2021-02-12 11:13] nvsvocabs opened #26 "NTR: Request for S06 Latent heat flux (BODCNVS-339)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Latent heat flux <p><b>Definition</b><p> The heat used to evaporate water from the ocean surface, resulting in ocean cooling, which is then released to warm the atmosphere when the vapour condenses to form clouds.<p><H2> Optional </H2><p><b>Sources/references</b><p> https://journals.ametsoc.org/view/journals/clim/30/1/jcli-d-16-0285.1.xml<p> <b>

[2021-02-12 13:54] roy-lowry commented on #26
My suggestion for a definition that includes the definition of flux.

The quantity of energy per unit area per unit time lost from the ocean surface resulting in ocean cooling that is subsequently released to warm the atmosphere when the vapour condenses to form clouds.

[2021-02-12 13:58] roy-lowry commented on #25
The quantity of heat transferred from water to air per unit area per unit time caused by the difference in temperature between the sea and the air.

[2021-03-13 11:57] gwemon commented on #26
S0600266 queued for publication on the NVS.

[2021-03-13 11:59] gwemon commented on #25
S0600267 queued for publication on the NVS.

[2021-03-14 20:45] gwemon commented on #15
@timvdstap FYI see https://github.com/nvs-vocabs/S12/issues/5 and https://github.com/nvs-vocabs/S12/issues/4 for proposed definitions for mantle and bell terms in S12.

[2021-03-15 15:31] timvdstap commented on #15
Hi @gwemon Yes those definitions would work for me with the abovementioned process (creating new P01 codes etc).

Thank you!

[2021-03-15 16:49] nvsvocabs opened #27 "NTR: Request for S06 Friction velocity (BODCNVS-339)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Friction velocity <p><b>Definition</b><p> A way of expressing shear stress in units of velocity. Defined as the square root of shear stress divided by fluid density, it is used in fluid mechanics to compare true velocities to a velocity that relates to shear between layers of flow. It is also known as shear velocity.<p><H2> Optional </H2><p><b>S

[2021-03-16 16:11] gwemon commented on #27
We have 3 existing P01 codes related to "Friction velocity": 2 in the atmosphere and 1 for waves on the water body. All three will need remodelling using the new semantic model.

While http://vocab.nerc.ac.uk/collection/P01/current/FRVMOD01/ explicitly states "Friction velocity of waves on the water body", the other 2 do not specify any objects (see e.g. http://vocab.nerc.ac.uk/collection/P01/curr

[2021-03-16 16:19] gwemon commented on #27
Same as: "Shear velocity" (e.g. https://en.wikipedia.org/wiki/Shear_velocity)

[2021-03-16 16:34] gwemon commented on #27
Thank you @roswri new S06 code **S0600268	Friction velocity** added and queued for publication on the NVS shortly after 0700AM UTC

[2021-03-16 16:36] gwemon commented on #26
http://vocab.nerc.ac.uk/collection/S06/current/S0600266/

[2021-03-16 16:36] #26 closed, assigned to gwemon

[2021-03-16 16:38] gwemon commented on #25
URI http://vocab.nerc.ac.uk/collection/S06/current/S0600267/ is live

[2021-03-16 16:38] #25 closed, assigned to gwemon

[2021-04-26 10:51] nvsvocabs opened #28 "NTR: Request for S06 Size category (BODCNVS-989)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Size category <p><b>Definition</b><p> Terms used in the contruction of a complex variable description when the objects of interest need to be grouped according to their size. These categories may be expressed as text (e.g. "small", "large") or size intervals (e.g. ">200um", "20-20um"). It is recommended that the result be constrained by a contro

[2021-04-26 15:35] gwemon commented on #28
Hi @danibodc could you add this one in S06 please? Thank you.

[2021-04-26 15:58] danibodc commented on #28
Hi @gwemon

I have now created this S06 term:

S0600270	Size category

Terms used in the construction of a complex variable description when the objects of interest need to be grouped according to their size. These categories may be expressed as text (e.g. "small", "large") or size intervals (e.g. ">200um", "20-20um"). It is recommended that the result be constrained by a controlled vocabulary suc

[2021-04-26 15:58] #28 closed, assigned to danibodc

[2021-04-26 20:09] gwemon commented on #27
http://vocab.nerc.ac.uk/collection/S06/current/S0600268/

[2021-04-26 20:09] #27 closed, assigned to gwemon

[2021-04-26 20:29] dr-shorthair commented on #28
What is the relationship of this to
http://vocab.nerc.ac.uk/collection/S06/current/S0600192/ and
http://vocab.nerc.ac.uk/collection/S06/current/S0600089/ ??

[2021-04-26 21:02] gwemon commented on #28
@dr-shorthair the new term is a nominal property category; that means that any P01 code built with this S06 property would have a character string result.
The S06 concept ["Size class"](http://vocab.nerc.ac.uk/collection/S06/current/S0600089/ ) clearly states that it is "a size interval defined as a character string indicating the lower size limit, the upper size limit and the unit of measurement

[2021-04-26 21:15] dr-shorthair commented on #28
OK - should 'grain-size' be seen as a specialization of the new term?
Should 'size-class' be a generalization??

[2021-04-26 21:34] nvsvocabs opened #29 "NTR: Request for S06 Biomass as carbon (BODCNVS-936)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Biomass as carbon <p><b>Definition</b><p> Mass of living biological organisms measured or expressed as the mass of organically bound carbon.<p><H2> Optional </H2><p>

[2021-04-26 21:45] gwemon commented on #28
I see the new term as the more generic term of all 3, and size-class and "grain-size" may be seen as specialisations with the difference that "grain-size", unlike the other 2, is a quantity whose result is a numerical value that needs to be linked to a unit unlike the other 2 for which the result will be text (preferably constrained by a controlled vocabulary but it could also be free text, depend

[2021-04-26 21:45] dr-shorthair commented on #19
@markebaird do we need to suggest a specialization for **model** nitrogen?

[2021-04-26 21:51] gwemon commented on #19
@dr-shorthair please see my comment https://github.com/nvs-vocabs/P01/issues/46#issuecomment-827159434 which relates to this suggestion.

[2021-04-26 22:00] dr-shorthair commented on #19
Sorry - yes _ just saw your other comment. This is very timely progress as I am meeting with @markebaird tomorrow.

We have a range of mappings from eReefs usage to NVS proposed. I'm a bit confused in some places about which NVS vocab to choose. I'm leaning towards the S0X series in general as I understand that they are the most systematic ... is that your judgement?

[2021-04-26 22:08] gwemon commented on #19
Not sure I understand wht you mean by the "most systematic". In comparison to what? The S0X vocabs are the building blocks of a P01 term. Once all the S0X concepts needed to define the variable have been identified then they can be combined into a P01 code. Happy to work on example mappings with you if required.

[2021-04-26 22:58] dr-shorthair commented on #19
Our current draft mappings are documented here: https://bitbucket.csiro.au/projects/ER/repos/ereefs-vocabulary-mappings/browse/ereefs.ttl
If you can make sense of that and critique it would be appreciated

(But it may be a private repo - not sure)

[2021-04-27 10:19] danibodc commented on #19
New S06 term created:

New term created:

S0600271 - Biomass as nitrogen
Mass of living biological organisms measured or expressed as the mass of organically bound nitrogen.

This will not become live on the NVS until tomorrow AM after the overnight database refresh.

[2021-04-27 10:20] danibodc commented on #29
New term created:

S0600272 - Biomass as carbon
Mass of living biological organisms measured or expressed as the mass of organically bound carbon.

This will not become live on the NVS until tomorrow AM after the overnight database refresh.

[2021-04-28 11:54] danibodc commented on #29
This term is now published:
http://vocab.nerc.ac.uk/collection/S06/current/S0600272/

[2021-04-28 11:54] #29 closed, assigned to danibodc

[2021-04-28 11:55] danibodc commented on #19
This term is now published:
http://vocab.nerc.ac.uk/collection/S06/current/S0600271/

[2021-04-28 11:55] #19 closed, assigned to gwemon, danibodc

[2021-06-02 06:37] dr-shorthair opened #30 "NTR: Material flux"
## Required
### Term name (PrefLabel)
Material flux
### Definition
Amount or mass of substance crossing a unit area per unit time
### Sources/references
eReefs

## Optional
### Synonym or acronym (AltLabel)
[Only use if the new term has known synonyms or acronyms]
### Mapping to external terminologies
[Is your submission related to any existing terms in external resources: please enter one or a li

[2021-06-02 06:47] dr-shorthair opened #31 "NTR: Mass per unit area"
## Required
### Term name (PrefLabel)
Mass per unit area
### Definition
Mass per unit area
### Sources/references
eReefs

## Optional
### Synonym or acronym (AltLabel)
[Only use if the new term has known synonyms or acronyms]
### Mapping to external terminologies
[Is your submission related to any existing terms in external resources: please enter one or a list of URIs]
### ORCID
orcid.org/0000-00

[2021-06-09 09:52] PatriciaCabrera commented on #22
Hello @gwemon, I have requested a series of terms related to image metadata here in S06. This terms are necessary for our work in the JERICO-S3 project to provide guidelines on plankton imagery metadata to be submitted to EMODnet Biology/EurOBIS. Are these terms foreseen to be created anytime soon?  Thank you! Patricia.

[2021-06-09 10:33] gwemon commented on #22
Hi @PatriciaCabrera yes, they are on the backlog. We need to do some modelling work on them so that they fit our semantic model and can easily be re-used by others. S06 is only a component of a P01 parameter concept so when deciding on what needs to go in S06 we need to have an understanding of the full P01 concept. The P01 you associated with this S06 is not exactly related so I'll check this S06

[2021-06-09 10:39] PatriciaCabrera commented on #22
Hi @gwemon , Thank you for your quick answer and detailed explanation. This is very helpful. When you work on it and should need further information, please do not hesitate to contact me. Thanks!

[2021-06-16 10:11] danibodc opened #32 "NTR: Sauter mean diameter (BODCNVS-1059)"
## Required
### Term name (PrefLabel)
Sauter mean diameter
### Definition
An average of particle size determined as the average diameter of a collection of spherical particles that have the same volume/surface area ratio as a particle of interest.
### Sources/references
https://doi.org/10.1080/02726351.2015.1099582

## Optional
### Synonym or acronym (AltLabel)
SMD or surface-volume mean
### Mappi

[2021-06-16 10:16] danibodc opened #33 "NTR: Pressure (BODCNVS-1059)"
## Required
### Term name (PrefLabel)
Pressure
### Definition
Force per unit area applied in the direction perpendicular to a surface. For pressure measurements used to express the depth (vertical coordinate) in a water body use SDN:S06::S0600168.
### Sources/references
[Please enter a link to a reference source]

## Optional
### Synonym or acronym (AltLabel)
[Only use if the new term has known sy

[2021-06-16 10:19] danibodc commented on #32
This is linked to the following P01 request: https://github.com/nvs-vocabs/P01/issues/79

[2021-06-16 10:58] danibodc commented on #33
New S06 code has been created: S0600274
**Preferred label:** Pressure
**Definition:** Force per unit area applied in the direction perpendicular to a surface. For pressure measurements used to express the depth (vertical coordinate) in a water body use SDN:S06::S0600168.

This will become live on the NVS from 0730 UTC tomorrow morning.

[2021-06-16 10:59] danibodc commented on #32
New S06 code has been created: S0600273
**Preferred label:** Sauter mean diameter
**Definition:** An average of particle size determined as the average diameter of a collection of spherical particles that have the same volume/surface area ratio as a particle of interest.

This will become live on the NVS from 0730 UTC tomorrow morning.

[2021-06-18 08:10] danibodc commented on #32
This term is now published: https://vocab.nerc.ac.uk/collection/S06/current/S0600273/

[2021-06-18 08:10] #32 closed, assigned to danibodc

[2021-06-18 08:11] danibodc commented on #33
This term is now published: https://vocab.nerc.ac.uk/collection/S06/current/S0600274/

[2021-06-18 08:11] #33 closed, assigned to danibodc

[2021-07-01 12:49] nvsvocabs opened #34 "NTR: Request for S06 Sequence number (BODCNVS-1083)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Sequence number <p><b>Definition</b><p> A number belonging to an ordered list of numbers. <p><H2> Optional </H2><p><b>Sources/references</b><p> https://github.com/nvs-vocabs/P01/issues/83<p>

[2021-07-06 08:36] danibodc commented on #34
The above term has now been created:

**Code:** S0600275
**Preferred label:** Sequence number
**Description:** A number belonging to an ordered list of numbers.

It will be live on the NVS from 0730 UTC tomorrow morning.

[2021-07-09 08:23] danibodc commented on #34
This code is now live:
https://vocab.nerc.ac.uk/collection/S06/current/S0600275/

[2021-07-09 08:23] #34 closed, assigned to danibodc

[2021-09-02 12:15] PatriciaCabrera commented on #35
Dear @gwemon, is there any plan on creating this term anytime soon? Thanks!

[2021-09-07 06:33] gwemon commented on #35
@PatriciaCabrera Sorry it took so long! I kept wanting to go back and reevaluate the decision of how to model this kind of parameters in the semantic model but I am running out of time. I decided to go along with the decision taken in 2018 and created the width equivalent to http://vocab.nerc.ac.uk/collection/S06/current/S0600149/ in order to create the P01 combination you need.

[2021-09-07 06:49] gwemon commented on #35
NTR linked to https://github.com/nvs-vocabs/P01/issues/75

[2021-09-07 07:33] gwemon commented on #21
@PatriciaCabrera I am unsure about this one. If it is expressed in um2 or mm2 then I guess this is an estimate of the real size of the object? If this is the case then we should not specify (in digital image) in the property. However I can understand that simply stating "Area of biological entity specified elsewhere" is ambiguous and not very accurate. Are you aware of the terminology used in digi

[2021-09-07 07:46] PatriciaCabrera commented on #21
@gwemon adding here Jean-Olivier Irisson @jiho who can help in answering this question.

[2021-09-08 14:40] jiho commented on #21
@gwemon Indeed, the measurement is in pixel^2 and then converted. We just discussed this and realised that, for consistency with Length (http://vocab.nerc.ac.uk/collection/P01/current/LGPIXEL1/) and Width, it would be better to keep it in pixels here too.

Then we have asked experts in digital imaging for the most canonical terminology regarding what we commonly call "area". We will get back to yo

[2021-09-13 07:45] jiho opened #36 "NTR: Pixel width (in digital image)"
## Required
### Term name (PrefLabel)

Pixel width (in digital image)

### Definition

The length, in mm, that the width of a pixel in a digital image represents in the original scene (depending on magnification, sensor size, etc.).

### Sources/references

Gorsky et. al. 2010, https://doi.org/10.1093/plankt/fbp124

## Optional

### Mapping to external terminologies

http://vocab.nerc.ac.uk/collec

[2021-09-13 07:47] jiho opened #37 "NTR: Pixel height (in digital image)"
## Required
### Term name (PrefLabel)

Pixel height (in digital image)

### Definition

The length, in mm, that the height of a pixel in a digital image represents in the original scene (depending on magnification, sensor size, etc.). Useful when the pixels are not square (and therefore pixel width is not sufficient).

### Sources/references

Gorsky et. al. 2010, https://doi.org/10.1093/plankt/fbp

[2021-09-13 07:48] jiho opened #38 "NTR: Pixel area (in digital image)"
## Required
### Term name (PrefLabel)

Pixel area (in digital image)

### Definition

The area, in mm^2, that a pixel in a digital image represents in the original scene (depending on magnification, sensor size, etc.).

### Sources/references

Gorsky et. al. 2010, https://doi.org/10.1093/plankt/fbp124

## Optional

### Mapping to external terminologies

http://vocab.nerc.ac.uk/collection/P06/curre

[2021-09-13 07:49] jiho commented on #38
This should be linked with #36 and  #37.

[2021-09-13 07:49] jiho commented on #37
This should be linked with #36 and  #38.

[2021-09-13 07:49] jiho commented on #36
This should be linked with #37 and  #38.

[2021-09-13 07:50] jiho commented on #24
Superseded by #36, #37, #38 which are more precise. This one should be closed.

[2021-09-13 07:51] jiho commented on #36
Tagging @PatriciaCabrera

[2021-09-13 07:51] jiho commented on #37
Tagging @PatriciaCabrera

[2021-09-13 07:51] jiho commented on #38
Tagging @PatriciaCabrera

[2021-09-13 07:54] jiho commented on #22
In our last meeting, we decided that we would actually use the general Length and Width terms you have already created since this is "just" a specific way to measure width (and is actually not specific enough since there are many algorithms for ellipse fitting). So this one (and #23) could be closed.
Tagging @PatriciaCabrera for confirmation (but she's on leave currently).

[2021-09-13 07:54] jiho commented on #23
In our last meeting, we decided that we would actually use the general Length and Width terms you have already created since this is "just" a specific way to measure length (and is actually not specific enough since there are many algorithms for ellipse fitting). So this one (and #22) could be closed.
Tagging @PatriciaCabrera for confirmation (but she's on leave currently).

[2021-09-13 08:37] gwemon commented on #31
@dr-shorthair  It looks like I missed this ticket. Sorry.  I guess this is mass of fresh material per unit area of the bed? And it is from model prediction/estimate? If this is the case then would it not be equivalent to wet weight biomass? Is this not the quantity that the model is trying to reproduce. Or do you see "Wet weight biomass" as being only applicable to physical samples? I can consult

[2021-09-13 08:50] gwemon commented on #30
@dr-shorthair what kind of variable will be associated with this S06?

[2021-09-13 08:51] dr-shorthair commented on #31
It's been a while since I filed this, and I can't recall all my thinking. But I think my point was that the more general quantity-type or 'property' is missing from S06. Mass per unit area could apply to many things, not only biomass. But perhaps you don't do hierarchies in S06?

[2021-09-13 09:00] gwemon commented on #31
I have started using NAR/BRD relationships in the component vocabs of P01 to help discovery but only if we have to. I will look at your suggestion in the context of other measurements. The problem with broad terms in component vocabs is that they could be used to create a P01 that becomes so vague or ambiguous that it looses its usefulness as an interoperable variable description.

[2021-09-13 10:01] dr-shorthair commented on #31
It is mentioned in rows 21, 61, 62, 63 of the table in the eReefs spreadsheet.

[2021-09-20 15:08] gwemon commented on #37
I think that this should be modeled as "Height of pixel in digital image" where:
"Height" is the term already defined in S06 (http://vocab.nerc.ac.uk/collection/S06/current/S0600264/),
"pixel" is a new term in S29, and
"digital image" would be a new matrix term in S26.
Units would be mm defined in P06 (http://vocab.nerc.ac.uk/collection/P06/current/UXMM/)
This is only a proposal at this stage.
Sin

[2021-09-20 15:10] jiho commented on #37
This sounds good and no, pixels are not always square unfortunately 😉

[2021-09-20 15:11] gwemon commented on #38
Transferring to P01

[2021-09-20 15:13] gwemon commented on #36
transferring to issues in P01 repo

[2021-10-18 08:40] PatriciaCabrera commented on #23
@jiho,M @gwemon , Yes, I agree to close this one, and we use instead: http://vocab.nerc.ac.uk/collection/P01/current/LGPIXEL1/

[2021-10-18 08:42] PatriciaCabrera commented on #22
@gwemon , @jiho , this can be closed to, and we will use this instead: http://vocab.nerc.ac.uk/collection/P01/current/WDPIXEL1/

[2021-10-18 16:36] #22 closed, assigned to gwemon

[2021-10-18 16:38] #23 closed, assigned to gwemon

[2021-11-01 10:18] danibodc opened #39 "NTR: New S06 terms for different pH scales"
To remodel our pH parameters to the new PUV semantic model, we need to create several new S06 terms for the various pH scales, as follows:

**Preferred label** - pH (total scale)
**Description** - A measure of acidity based on the free proton (hydrogen ion) concentration plus hydrogen sulfate ion concentration.

**Preferred label** - pH (free scale)
**Description** - A measure of acidity based on

[2021-11-01 10:31] danibodc commented on #39
The above terms have now been loaded to S06 and will be live on the NVS from 0730 UTC tomorrow morning.

[2021-11-02 09:02] danibodc commented on #39
These terms are now live:
http://vocab.nerc.ac.uk/collection/S06/current/S0600277
http://vocab.nerc.ac.uk/collection/S06/current/S0600278
http://vocab.nerc.ac.uk/collection/S06/current/S0600279
http://vocab.nerc.ac.uk/collection/S06/current/S0600280

[2021-11-08 13:39] danibodc commented on #39
We also have a need for a pH term where the scale used is either unknown or unspecified.

We are proposing the following:
**Preferred label** - pH (unspecified scale)
**Description** - A measure of acidity where the scale is either unknown or not specified.

[2021-11-12 09:25] danibodc commented on #39
This term is now live on the NVS:
https://vocab.nerc.ac.uk/collection/S06/current/S0600281/
**Preferred label** - pH (unspecified scale)
**Description** - A measure of acidity where the scale is either unknown or not specified.

[2021-11-12 09:25] #39 closed, assigned to gwemon, danibodc

[2021-11-24 15:38] PatriciaCabrera commented on #21
@jiho & @gwemon  Now that Length (expressed as pixels) has been created (http://vocab.nerc.ac.uk/collection/P01/current/LGPIXEL1/), I wonder if it is more clear to define Area and to semantically link these terms?

[2022-02-17 21:25] nvsvocabs opened #40 "NTR: Request for S06 Enrichment with respect to VCDT"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Enrichment with respect to VCDT <p><b>Definition</b><p> The change in the relative abundance of an isotope of a given element relative to its relative abundance in the Vienna Canyon Diablo Troilite (VCDT) international measurement standard, also known as IAEA-S-1 and formerly known as NZ-1 (NIST 8554), a reference material for relative sulfur is

[2022-02-20 21:03] gwemon commented on #40
http://vocab.nerc.ac.uk/collection/S06/current/S0600282/ published on NVS

[2022-02-20 21:03] #40 closed, assigned to gwemon

[2022-03-22 13:16] nvsvocabs opened #41 "NTR: Request for S06 Total alkalinity"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Total alkalinity <p><b>Definition</b><p> The acid-neutralising capacity of solutes in an aqueous system or sample.<p><H2> Optional </H2><p><b>Sources/references</b><p> https://pubs.usgs.gov/twri/twri9a6/twri9a66/twri9a_6.6.pdf<p> <b>Synonym or acronym (AltLabel)</b><p> TA<p>

[2022-03-24 09:14] danibodc commented on #41
This term is now live on the NVS:
https://vocab.nerc.ac.uk/collection/S06/current/S0600283/

[2022-03-24 09:16] #41 closed, assigned to danibodc

[2022-03-24 11:22] nvsvocabs opened #42 "NTR: Request for S06 Saturation state"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Saturation state <p><b>Definition</b><p> A measure of the thermodynamic potential for a mineral to form or to dissolve<p><H2> Optional </H2><p><b>Sources/references</b><p> https://github.com/nvs-vocabs/P01/issues/115<p>

[2022-03-28 15:10] roswri commented on #42
Term submitted via vocab editor (I don't seem to have permissions to insert terms directly to S06 in SQL developer).
S0600284 - Saturation state

[2022-03-29 12:02] roswri commented on #42
Term confirmed to be on the NVS:
http://vocab.nerc.ac.uk/collection/S06/current/S0600284/

[2022-03-29 12:03] #42 closed, assigned to roswri

[2022-03-30 21:20] nvsvocabs opened #43 "NTR: Request for S06 Relative humidity (BODCNVS-740)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Relative humidity <p><b>Definition</b><p> The ratio of the amount of water vapour in the air compared to the maximum amount of water vapour that can theoretically be held at the air's temperature.<p><H2> Optional </H2><p><b>Mapping to other terminologies </b><p> http://www.ontology-of-units-of-measure.org/resource/om-2/RelativeHumidityhttps://un

[2022-03-30 21:43] nvsvocabs opened #44 "NTR: Request for S06 Dew-point temperature (BODCNVS-740)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Dew-point temperature <p><b>Definition</b><p> The temperature to which air must cool to become saturated with water vapour.<p><H2> Optional </H2><p><b>Mapping to other terminologies </b><p> https://unterm.un.org/unterm/display/record/wmo/na?OriginalId=3d02b1e9-a4b1-46ac-aeb1-1afccd08e2bd<p>

[2022-03-31 22:04] timvdstap commented on #15
Hi all,

While I believe a P01 for mantle length has been created: https://vocab.nerc.ac.uk/collection/P01/current/DML1XX01/ , I don't see a term created yet for shell length, with a P01 term "Length of biological entity specified elsewhere [Subcomponent: shell]". Would you be able to tell me if it's still possible to create this term?

Thank you in advance!

[2022-04-01 07:14] gwemon commented on #15
Thanks @timvdstap we will add it to P01.

[2022-04-11 12:51] JordanAthertonNOC opened #45 "NTR: Relative loss rate"
## Required
### Term name (PrefLabel)
Relative loss rate
### Definition
The rate at which the quantity of an entity decreases.

### Sources/references
To be modelled similar to existing terms, e.g. particularly S0600009: Evacuation Rate The rate at which an organism disposes of a substance as solid waste.

## Optional
### Synonym or acronym (AltLabel)
n/a
### Mapping to external terminologies
n/a

[2022-04-11 12:57] gwemon commented on #45
@JordanAthertonNOC  the definition of "Loss rate" in S06 needs to be applicable to any kind of loss rate i.e. not just the loss rate of zooxanthellae from corals. Have a look at the definition of other rates in S06 to see examples of how to define the new term.

[2022-04-19 12:13] nvsvocabs opened #46 "NTR: Request for S06 Remote sensing reflectance"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Remote sensing reflectance <p><b>Definition</b><p> The ratio of water-leaving radiance (Lw, units: µW cm−2 sr−1 nm−1) to downwelling irradiance just above the sea surface (Es, units: µW cm−2 nm−1) (O’Reilly et al., 1998).<p><H2> Optional </H2><p><b>Sources/references</b><p> https://oceancolor.gsfc.nasa.gov/atbd/rrs/https://github.com/nvs-vocabs/

[2022-04-19 16:14] nvsvocabs opened #47 "NTR: Request for S06 Convective mass flux"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Convective mass flux <p><b>Definition</b><p> An average vertical transport of mass for a field of cumulus clouds or thermals (https://glossary.ametsoc.org/wiki/Convective_mass_flux).<p><H2> Optional </H2><p><b>Sources/references</b><p> https://glossary.ametsoc.org/wiki/Convective_mass_flux<p> <b>Mapping to other terminologies </b><p> P07 concept

[2022-04-29 16:20] gwemon commented on #46
http://vocab.nerc.ac.uk/collection/S06/current/S0600285/

[2022-04-29 16:20] #46 closed, assigned to nobody

[2022-05-17 06:54] gwemon opened #48 "Deprecate "Lipid-normalised concentration" and replace by "Concentration""
We are changing the structure of P01 codes related to lipid-normalised concentrations of contaminants in biota (see for example: http://vocab.nerc.ac.uk/collection/P01/current/HCBLCF30/). A new S02 (containing terms that express the relationship between the property of an object and the matrix in the P01 semantic model) has been created for "per unit mass of lipids" (https://github.com/nvs-vocabs/

[2022-05-17 07:23] gwemon commented on #48
Change queued for publication on NVS.

[2022-05-19 22:22] jiho commented on #21
It took me a long time to get back on this but I did not forget (well I did but my TODO software reminded me!).

So it looks like a common and well understood + precise term would be "silhouette area" (of an object in digital image).

[2022-05-20 15:52] danibodc opened #49 "NTR: Mass concentration"
## Required
### Term name (PrefLabel)
Mass concentration
### Definition
The mass of a substance or consituent divided by the volume of the mixture, expressed as mass per unit volume.
### Sources/references
QUDT http://qudt.org/vocab/quantitykind/MassConcentration

## Optional
### Synonym or acronym (AltLabel)
[Only use if the new term has known synonyms or acronyms]
### Mapping to external termino

[2022-05-20 15:54] danibodc commented on #49
This term has now been loaded and will be live on the NVS from tomorrow morning:
https://vocab.nerc.ac.uk/collection/S06/current/S0600286/

[2022-05-22 08:42] gwemon commented on #15
P01 created: http://vocab.nerc.ac.uk/collection/P01/current/SLSINDLX/

[2022-05-22 08:42] #15 closed, assigned to gwemon

[2022-05-23 08:09] #49 closed, assigned to danibodc

[2022-05-23 13:53] nvsvocabs opened #50 "NTR: Request for S06 Biochemical Oxygen Demand"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Biochemical Oxygen Demand <p><b>Definition</b><p> The amount of dissolved oxygen needed by aerobic biological organisms to break down organic material present in a given water sample at certain temperature over a specific time period.<p><H2> Optional </H2><p><b>Sources/references</b><p> https://www.sciencedirect.com/topics/agricultural-and-biolo

[2022-05-23 13:57] nvsvocabs opened #51 "NTR: Request for S06 Chemical Oxygen Demand"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Chemical Oxygen Demand <p><b>Definition</b><p> The amount of oxygen that is needed to oxidise the organic matter present in a quantity of water.<p><H2> Optional </H2><p><b>Sources/references</b><p> https://www.sciencedirect.com/topics/earth-and-planetary-sciences/chemical-oxygen-demand<p>

[2022-05-23 14:03] roswri commented on #50
Definition of existing P01 (https://vocab.nerc.ac.uk/collection/P01/current/BODZZZZZ/): The quantity of dissolved oxygen consumed per unit volume of a sample of any body of fresh or salt water during 5 days of incubation at 20C

[2022-05-23 14:04] roswri commented on #51
Definition of existing P01 (https://vocab.nerc.ac.uk/collection/P01/current/CODZZZZZ/):
Quantity of oxygen required to oxidize all dissolved oxidizable chemical material contained in a unit volume of a water body. Solute may be expressed in terms of mass, volume or quantity of substance.

[2022-05-23 14:39] nvsvocabs opened #52 "NTR: Request for S06 Photochemical oxygen demand"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Photochemical oxygen demand <p><b>Definition</b><p> The amount of oxygen that is needed to oxidise all dissolved oxidisable chemical material contained in a unit volume of a water body under the influence of radiant energy (such as light).<p><H2> Optional </H2><p><b>Sources/references</b><p> https://www.researchgate.net/publication/255467943_Pho

[2022-05-23 15:29] roswri commented on #51
S0600288 - Chemical oxygen demand
submitted via vocab editor

[2022-05-23 15:30] roswri commented on #50
S0600287 - Biochemical oxygen demand
submitted via vocab editor

[2022-05-23 15:31] roswri commented on #52
S0600289 - Photochemical oxygen demand
submitted via vocab editor

[2022-06-13 09:23] JordanAthertonNOC opened #53 "NTR: Net upward flux for eReefs project"
## Required
### Term name (PrefLabel)
Net upward flux
### Definition
Rate of transfer through a surface or a substance in an upward direction, positive values indicating a net upward flow and negative values indicating a net downward flow.
### Sources/references
N/A

## Optional
### Synonym or acronym (AltLabel)
N/A
### Mapping to external terminologies
N/A
### ORCID
N/A
### Additional information

[2022-06-13 11:35] JordanAthertonNOC commented on #53
One new S06 term created, anticipated to go live on the NVS at ~07:00 BST tomorrow.
S0600291
Net upward flux
Rate of transfer through a surface or a substance in an upward direction, positive values indicating a net upward flow and negative values indicating a net downward flow.

[2022-06-13 11:35] #53 closed, assigned to JordanAthertonNOC

[2022-06-13 14:49] nvsvocabs opened #54 "NTR: Request for S06 Vertical attenuation"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Vertical attenuation <p><b>Definition</b><p> The proportion of any kind of flux or signal that is lost when absorbed or scattered by a medium along the vertical Z axis.<p><H2> Optional </H2><p><b>Sources/references</b><p>nvs-vocabs/P01/issues/157<p>

[2022-06-13 14:49] danibodc commented on #54
This term has now been loaded and will be live on the NVS from tomorrow morning.

[2022-06-13 14:55] JordanAthertonNOC commented on #45
One new S06 term created, anticipated to go live on the NVS at ~07:00 BST tomorrow.
[S0600293](https://vocab.nerc.ac.uk/collection/S06/current/S0600293/)
Relative loss rate
The amount of an entity lost from a system divided by the initial amount of that entity in the system relative to time.

[2022-06-13 14:55] #45 closed, assigned to JordanAthertonNOC

[2022-06-28 10:58] danibodc commented on #54
This term is now live on the NVS:
http://vocab.nerc.ac.uk/collection/S06/current/S0600292/

[2022-06-28 10:58] #54 closed, assigned to danibodc

[2022-07-11 14:14] gwemon opened #55 "NTR: Net upward flux (into atmosphere)"
## Required
### Term name (PrefLabel)
Net upward flux (into atmosphere)
### Definition
Rate of transfer through a surface in contact with the atmosphere in an upward direction, positive values indicating a net upward flow into the atmosphere and negative values indicating a net downward flow from the atmosphere.
### Sources/references
eReefs modeling variables

## Optional
### Synonym or acronym (

[2022-07-11 14:28] gwemon commented on #55
New term created and used to correct: http://vocabdev.nerc.ac.uk/collection/P01/current/FLOXYMOD/ and http://vocab.nerc.ac.uk/collection/P01/current/FLCO2MOD/

[2022-07-18 04:40] gwemon commented on #35
http://vocab.nerc.ac.uk/collection/S06/current/S0600276/

[2022-07-18 04:40] #35 closed, assigned to gwemon

[2022-08-11 01:57] dr-shorthair opened #56 "Alternative label for depth (S0600169)"
The definition of [Depth](https://vocab.nerc.ac.uk/collection/S06/current/S0600169/) matches what is often called "**thickness (vertical)**"  - maybe add an alternative label?

[2022-08-12 11:41] gwemon commented on #56
Thank you for suggestion @dr-shorthair. We have a number of P01 parameters that are still not modelled to the PUV terms and that use "thickness" in the preferred label. We will review the usage of both terms in P01 and decide whether it is safe to have it in the alternative label field.

[2022-09-27 14:13] nvsvocabs opened #57 "NTR: Request for S06 Density (dry bulk) (BODCNVS-1232)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Density (dry bulk) <p><b>Definition</b><p> Mass of dry matter contained in a sample of soil or sediment divided by the volume of the sample before drying.  <p><H2> Optional </H2><p><b>Sources/references</b><p> adapted from https://en.wikipedia.org/wiki/Bulk_density<p>

[2022-09-27 14:18] nvsvocabs opened #58 "NTR: Request for S06 Density (wet bulk) (BODCVS-1232)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Density (wet bulk) <p><b>Definition</b><p> Total mass of a fresh sample of soil or sediment (solid plus water) divided by its volume.<p><H2> Optional </H2><p><b>Sources/references</b><p> adapted from https://en.wikipedia.org/wiki/Bulk_density<p>

[2022-09-27 14:32] nvsvocabs opened #59 "NTR: Request for S06 Relative density"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Relative density <p><b>Definition</b><p> The ratio of the density of a soil or sediment sample over water density.<p><H2> Optional </H2><p>

[2022-10-11 08:09] danibodc opened #60 "NTR: POC/Th-234 ratio"
New S06 term created for the POC/Th-234 ratio:

**Code:** S0600295
**Preferred label:** POC/Th-234 ratio
**Definition:** The ratio of particulate organic carbon (POC) concentration to thorium-234 activity. Thorium is insoluble in seawater and is scavenged by particles as they form and/or sink through the water column. This causes a radioactive disequilibrium between 238U and 234Th in the upper wat

[2022-10-11 08:09] #60 closed, assigned to gwemon

[2022-10-17 10:21] danibodc commented on #59
Related to:
Proportion or mass of dry solid matter in sediment

[2022-10-17 10:22] #52 closed, assigned to roswri

[2022-10-17 10:24] roswri commented on #51
http://vocab.nerc.ac.uk/collection/S06/current/S0600288/

[2022-10-17 10:24] #51 closed, assigned to roswri

[2022-10-17 10:24] roswri commented on #50
http://vocab.nerc.ac.uk/collection/S06/current/S0600287/

[2022-10-17 10:24] #50 closed, assigned to roswri

[2022-10-17 10:25] roswri commented on #52
http://vocab.nerc.ac.uk/collection/S06/current/S0600289/

[2022-10-17 13:16] danibodc commented on #44
The above term has been loaded and will be live on the NVS from 0730 UTC tomorrow morning.

S0600296 - Dew-point temperature

[2022-10-17 13:18] danibodc commented on #43
The above term has been loaded and will be live on the NVS from 0730 UTC tomorrow morning:

S0600297 - Relative humidity

[2022-10-18 08:42] danibodc commented on #43
https://vocab.nerc.ac.uk/collection/S06/current/S0600297/

[2022-10-18 08:42] #43 closed, assigned to danibodc

[2022-10-18 08:42] danibodc commented on #44
https://vocab.nerc.ac.uk/collection/S06/current/S0600296/

[2022-10-18 08:42] #44 closed, assigned to danibodc

[2022-10-19 13:46] danibodc opened #61 "NTR: Request for S06 Electrical conductivity"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Electrical conductivity <p><b>Definition</b><p>The measure of a body of water's capability to pass electrical current. It is directly related to the concentration of dissolved ions in the water, such as chlorides, sulfides and carbonate compounds. The more ions that are present, the higher the conductivity of the water. It can be used to calcula

[2022-10-19 16:05] danibodc commented on #61
The above term has been loaded and will be live on the NVS from 0730 UTC tomorrow morning:
S0600298 - Electrical conductivity

[2022-10-20 10:31] danibodc commented on #61
https://vocab.nerc.ac.uk/collection/S06/current/S0600298/

[2022-10-20 10:31] #61 closed, assigned to danibodc

[2022-11-21 09:26] gwemon commented on #57
term created and queued for publication on the NVS.

[2022-11-21 09:32] gwemon commented on #58
term created and queued for publication on the NVS.

[2022-11-27 07:50] gwemon commented on #58
http://vocab.nerc.ac.uk/collection/S06/current/S0600300/

[2022-11-27 07:50] #58 closed, assigned to nobody

[2022-11-27 07:50] gwemon commented on #57
http://vocab.nerc.ac.uk/collection/S06/current/S0600299/

[2022-11-27 07:50] #57 closed, assigned to nobody

[2022-11-27 08:09] nvsvocabs opened #62 "NTR: Request for S06 Colour (Pt/Co scale) (BODCNVS-1232)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Colour (Pt/Co scale) <p><b>Definition</b><p> Also called Alpha-Hazen scale, the Platinum-Cobalt scale is a method of measuring the colour of water samples that is specific to the colour yellow. One unit of colour on the scale is defined as the colour produced by 1 milligram of platinum cobalt dissolved in 1 litre of water.<p><H2> Optional </H2><

[2022-11-30 14:23] nvsvocabs opened #63 "NTR: Request for S06 Horizontal visibility (ESAS code) (BODCNVS-1581)"
<H2> Required </H2><p><b>Term name (PrefLabel)</b><p>Horizontal visibility (ESAS code) <p><b>Definition</b><p> A one-character string used by European Seabirds At Sea (ESAS) to classify ranges of horizontal visibility.<p><H2> Optional </H2><p>

[2022-11-30 14:24] danibodc commented on #63
This term is now live on the NVS:
https://vocab.nerc.ac.uk/collection/S06/current/S0600302/

[2022-11-30 14:24] #63 closed, assigned to nobody